<div class="container-fluid footer-align">
    <div class="container dtview">
        <div class="row">
            <div class="col-4">
                <div class="">
                    <img src="Logo.jpeg" alt="" class="footer-image">
                </div>
                <div class="phone">
                    Phone: +91 9791394333, +91 6379785586
                </div>
            </div>
            <div class="col-2">
                <div class="quick-link-align">
                    <div class="link-head">
                        Quick Links
                    </div>
                    <ul class="quick-links">

                        <li>
                            <a class="nav-link" href="#home">
                                Home
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="#About">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="#Service">
                                Service
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="#team">
                                Team
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-4">
                <div class="Address">
                    Address: #9, Oil Mill Road, Kattur,
                    Trichy – 620 019<br><br>

                    Head Office: #23, Sakthi Nagar, Alangudi Road, Pudukkottai- 622 001
                </div>
            </div>
            <div class="col-1">
                <div class="social-icon">
                    <a href="https://www.instagram.com/edengreenmobility?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                        target="blank"><img src="insta.svg" alt="" class="social-media"></a><br>
                    <a href="https://www.facebook.com/profile.php?id=61567724427069" target="blank"><img src="facebook.svg" alt=""
                            class="social-media"></a><br>
                    <a href="https://www.facebook.com/profile.php?id=61567724427069" target="blank"><img src="linkedin.svg" alt=""
                            class="social-media"></a><br>
                </div>
            </div>
            <div class="copyrights">
                <a href="https://sigma4solutions.com/" target="blank" style="text-decoration: none;">© Copyright 2024 -
                    Letsify
                    Sigma4Solutions Private Limited - All rights reserved</a>
            </div>
        </div>
    </div>

    