<div class="container-fluid footer-align">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="">
                    <img src="Logo.jpeg" alt="" class="footer-image">
                </div>
                <div class="phone">
                    Phone: +91 9791394333, +91 6379785586
                </div>
            </div>
            <div class="col-2">
                <div class="quick-link-align">
                    <div class="link-head">
                        Quick Links
                    </div>
                    <ul class="quick-links">

                        <li>
                            Home
                        </li>
                        <li>
                            About Us
                        </li>
                        <li>
                            Service
                        </li>
                        <li>
                            Why
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-4">
                <div class="Address">
                    Address: #9, Oil Mill Road, Kattur,
                    Trichy – 620 019<br><br>

                    Head Office: #23, Sakthi Nagar, Alangudi Road, Pudukkottai- 622 001
                </div>
            </div>
            <div class="col-1">
                <div class="social-icon">
                    <img src="insta.svg" alt="" class="social-media"><br>
                    <img src="facebook.svg" alt="" class="social-media"><br>
                    <img src="linkedin.svg" alt="" class="social-media"><br>
                </div>
            </div>
        </div>
    </div>
</div>